<!-- create by nasneen -->

{% extends 'staff/staffbase.html' %}
{% block content %}
{% load static %}

<style>
    .table,.form-control,label,.btn{
        font-size: 0.8em;
    }
    table tr td:hover {
        cursor: pointer;
    }



    .bar .left {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .form-control {
        background-color: white;
    }
</style>

<body style="background-color: rgba(176, 199, 205, 0.4);">

    <!-- <div class="d-flex justify-content-between">
        <p class="tb fw-bolder fs-2"><span class="fa fa-share ps-1 tb"></span></p>
        <button class="btn btn-sm btn-primary fs-2" data-bs-toggle="modal"
            data-bs-target="#myModal1" data-bs-whatever="@getbootstrap" hx-get=""
            hx-trigger="click delay:0s" hx-target="#item_get_details_for_modal_target"><span
                class="fa fa-sliders-h pe-1"></span> ADJUSTMENT ITEM</button>
    </div> -->

    <div class="body-wrapper">
        <div class="container-fluid">

            <div class="col-sm-12 col-lg-12 ">
                <div id="item_get_detail_target">
                    <div class="row m-0" style="height:20%">
                        <div class="card bg-light bs p-3 mb-3">
                            <!-- <center class="mt-3">
                                <h2 class="text-center"><b
                                        style="color: rgb(255, 255, 255);text-shadow: 2px 2px 4px #000000; margin-bottom: 40px;">SALE
                                        ORDER</b></h2>

                            </center> -->
                            <div class="bar d-flex justify-content-between">
                                <div class=" left">
                                    <div class="px-2">
                                        <label style="text-align:left ">From</label><br>
                                        <input name="FromDate" class="inputdate form-control" type="date" id="in1">
                                    </div>

                                    <div class="px-2">
                                        <label style="text-align:left ">To</label><br>
                                        <input name="ToDate" type="date" class="inputdate form-control" id="in2">
                                    </div>
                                    <!-- <div class="px-2">
                                <label style="text-align:left ">Party</label><br>
                                <input name="party" list="party" class="form-control" id="pin">
                                <datalist id="party">
                                    {% for i in cust %}
                                    <option value="{{i.firstname}} {{i.lastname}}">
                                        {% endfor %}
                                        {% for i in vend %}
                                    <option value="{{i.firstname}} {{i.lastname}}">
                                        {% endfor %}
                                </datalist>
                            </div> -->

                                </div>
                                <div class="right mt-3">
                                    <button class="btn p-0 ps-2 pe-2 ms-2" type="button"
                                        onclick="exportToExcel()"><span><img width="25px"
                                                src="{% static 'assets/excel2.png' %}" alt="no img"></span></button>
                                                <button class="btn p-0 ps-2 pe-2 ms-2" type="button"
                                        onclick="exportToExcel()"><span><img width="25px"
                                                src="{% static 'assets/import.png' %}" alt="no img"></span></button>
                                    <button class="btn p-0 ps-2 pe-2 ms-2" type="button"
                                        onclick="exportToExcel()"><span><img width="25px"
                                                src="{% static 'assets/printer.jpg' %}" alt="no img"></span></button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>



            <div class="row pt-0 m-0">
                <div class="card p-0 bg-light bs">
                    <div class="row m-0 p-0 pt-3">
                        <div class="col-sm-12 col-lg-3">
                            <p class="tb fw-bolder pt-2">SALE ORDER</p>
                            <div class="pt-2">
                                <div class="position-relative">
                                    <div class="position-absolute" style="margin-top:0.4rem;margin-left: 0.5rem;">
                                        <span class="fa fa-search fs-5 text-info"></span>
                                    </div>
                                </div>
                                <input id="search_input1" style="padding-inline-start: 2rem;"
                                    class="w-100 border-secondary text-dark pt-1 pb-1 rounded" type="text"
                                    placeholder=" search here..">
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">

                        </div>

                        <div class="col-sm-12 col-lg-3 pt-1">

                            <div class="d-flex mt-5">
                                <a class="btn btn-warning" href="{% url 'saleorder_create' %}"><i class="fa fa-plus" aria-hidden="true"></i> CREATE SALE
                                    ORDER</a>

                            </div>
                        </div>
                        <div class="mt-3" style="height: 31rem;">
                            <table id="myTable"
                                class="table table-bordered table-info table-striped tb table-responsive w-100">
                                <thead>
                                    <th>#</th>
                                    <th class="text-center fs-2">PARTY NAME <span class="fa fa-filter ps-1 fs-1"></span>
                                    </th>
                                    <th class="text-center fs-2">NUMBER <span class="fa fa-filter ps-1 fs-1"></span>
                                    </th>
                                    <th class="text-center fs-2">DATE <span class="fa fa-filter ps-1 fs-1"></span></th>
                                    <th class="text-center fs-2">DUE DATE <span class="fa fa-filter ps-1 fs-1"></span>
                                    </th>
                                    <th class="text-center fs-2">TOTAL<span class="fa fa-filter ps-1 fs-1"></span>
                                    </th>
                                    <th class="text-center fs-2">BALANCE<span class="fa fa-filter ps-1 fs-1"></span>
                                    </th>
                                    <th class="text-center fs-2">TYPE<span class="fa fa-filter ps-1 fs-1"></span>
                                    </th>
                                    <th class="text-center fs-2">STATUS<span class="fa fa-filter ps-1 fs-1"></span>
                                    </th>
                                    <th class="text-center fs-2">ACTION<span class="fa fa-filter ps-1 fs-1"></span>
                                    </th>
                                    <th class="text-center p-0 m-0"></th>
                                </thead>
                                <tbody>
                                    {% for i in sale %}
                                    <tr>
                                        <td>{{forloop.counter }}</td>
                                    <td>{{i.partyid.party_name}}</td>
                                    <td>{{i.orderno}}</td>
                                    <td>{{i.orderdate}}</td>
                                    <td>{{i.duedate}}</td>
                                    <td>{{i.grandtotal}}</td>
                                    <td>{{i.balance}}</td>
                                    <td>type</td>
                                    <td>created</td>
                                    <td>a</td>
                                </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</body>


{% endblock content %}